.bg-jumbotron {
  background-color: var(--background-default) !important;
}

.ui.form {
  position: static;
  max-width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}

hr {
  border-top: 1px solid var(--foreground-light);
}

.text-title {
  color: var(--foreground-quaternary) !important;;
}

@media all and (max-width: 699px) {
  .text-title {
    font-size: 2rem;
  }

  .center {
    margin-left: 25px;
  }
}
