// .home {
//   position: relative;
//   min-height: 100%;
// }

// .footer {
//   position: absolute;
//   bottom: 0;
//   height: 100px;
//   width: 100%;
// }

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}
