.bg-jumbotron {
  background-color: #292f35 !important;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}

hr {
  border-top: 1px solid whitesmoke;
}

.gChart {
  padding-bottom: 30px;
}
