.bg-jumbotron {
  background-color: var(--background-default) !important;
}

hr {
  border-top: 1px solid var(--foreground-light);
}

.text-title {
  color: var(--foreground-quaternary);
}

@media all and (max-width: 699px) {
  .text-title {
    font-size: 2rem;
  }
}
