/* You can add global styles to this file, and also import other style files */

// @import './customize-bootstrap.scss'

:root {
  /* Colors */
  --foreground-default: #08090a;
  --foreground-secondary: #41474d;
  --foreground-tertiary: #797c80;
  --foreground-quaternary: #000000;
  --foreground-light: #00000080;

  --background-default: #f4faff;
  --background-secondary: #a3b9cc;
  --background-tertiary: #d1d5d8;
  --background-light: #ffffff;

  --primary-default: #5dfdcb;
  --primary-dark: #24b286;
  --primary-light: #b2ffe7;

  --error-default: #ef3e36;
  --error-dark: #800600;
  --error-light: #ffcecc;

  /* Shadows */
  --background-tertiary-shadow: 0 1px 3px 0 rgba(92, 125, 153, 0.5);
}

html,
body {
  background: var(--background-default) !important;
}

// html,
// body {
//   margin: 0;
//   padding: 0;
//   font-family: "PT Sans", sans-serif;
// }

// html,
// body {
//   background-color: #292f35 !important;
// }