/* You can add global styles to this file, and also import other style files */

// @import './customize-bootstrap.scss';
html,
body {
   position: relative; 
   min-height: 100vh;
   background-color: #292f35 !important; 
}


