<div class="row">
  <div class="card bg-primary col-sm p-3 m-3">
    <div class="ui statistic">
      <div class="label card-header">
        Confirmed
      </div>
      <div class="value">
        {{ totalConfirmed | number }}
      </div>
    </div>
  </div>
  <div class="card bg-success col-sm p-3 m-3">
    <div class="ui statistic">
      <div class="label card-header">
        Recovered
      </div>
      <div class="value">
        {{ totalRecovered | number }}
      </div>
    </div>
  </div>
  <div class="card bg-danger col-sm p-3 m-3">
    <div class="ui statistic">
      <div class="label card-header">
        Deaths
      </div>
      <div class="value">
        {{ totalDeaths | number }}
      </div>
    </div>
  </div>
  <div class="card bg-info col-sm p-3 m-3">
    <div class="ui statistic">
      <div class="label card-header">
        Active
      </div>
      <div class="value">
        {{ totalActive | number }}
      </div>
    </div>
  </div>
</div>
