<div class="row">
  <div class="card boxshadow bg-warning col-sm p-3 m-3">
    <div class="ui statistic">
      <div class="label card-header title-confirmed">
        Confirmed
      </div>
      <div class="value text-confirmed">
        {{ totalConfirmed | number }}
      </div>
    </div>
  </div>
  <div class="card boxshadow bg-success col-sm p-3 m-3">
    <div class="ui statistic">
      <div class="label card-header title-recovered">
        Recovered
      </div>
      <div class="value text-recovered">
        {{ totalRecovered | number }}
      </div>
    </div>
  </div>
  <div class="card boxshadow bg-danger col-sm p-3 m-3">
    <div class="ui statistic">
      <div class="label card-header title-deaths">
        Deaths
      </div>
      <div class="value text-deaths">
        {{ totalDeaths | number }}
      </div>
    </div>
  </div>
  <div class="card boxshadow bg-primary col-sm p-3 m-3">
    <div class="ui statistic">
      <div class="label card-header title-active">
        Active
      </div>
      <div class="value text-active">
        {{ totalActive | number }}
      </div>
    </div>
  </div>
</div>
