.text-confirmed {
  color: white !important;
}

.text-recovered {
  color: darkgreen !important;
}

.text-deaths {
  color: darkred !important;
}

.text-active {
  color: darkblue !important;
}

// title
.title-confirmed {
  color: white !important;
  background-color: rgb(2, 154, 255) !important;
}

.title-recovered {
  color: white !important;
  background-color: rgb(33, 199, 83) !important;
}

.title-deaths {
  color: white !important;
  background-color: #c75e5e !important;
}

.title-active {
  color: white !important;
  background-color: rgb(2, 154, 255) !important;
}

.ui.statistic > .value,
  .ui.statistics .statistic > .value {
    font-size: 3rem !important;
  }

.boxshadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.028s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
      0px 24px 38px 3px rgba(0, 0, 0, 0.14),
      0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }
}

@media all and (max-width: 699px) {
  .text-confirmed {
    font-size: 2rem !important;
  }

  .text-recovered {
    font-size: 2rem !important;
  }

  .text-deaths {
    font-size: 2rem !important;
  }

  .text-active {
    font-size: 2rem !important;
  }

  .ui.statistic > .value,
  .ui.statistics .statistic > .value {
    font-size: 2rem !important;
  }
}
