.text-confirmed {
  color: white !important;
}

.text-recovered {
  color: darkgreen !important;
}

.text-deaths {
  color: darkred !important;
}

.text-active {
  color: darkblue !important;
}

// title
.title-confirmed {
  color: white !important;
  background-color: rgb(2, 154, 255) !important;
}

.title-recovered {
  color: white !important;
  background-color: rgb(33, 199, 83) !important;
}

.title-deaths {
  color: white !important;
  background-color: #c75e5e !important;
}

.title-active {
  color: white !important;
  background-color: rgb(2, 154, 255) !important;
}
